---
name: Deploy documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name == 'main' && 'github-pages' || 'development' }}
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6        # Avoid issues with depending on a particular version of this
        # package from another package.
        # We need our tags in order to calculate the version.
        # See https://github.com/astral-sh/uv/issues/8148.

        with:
          persist-credentials: false
          fetch-depth: 0
          fetch-tags: true

      - id: deployment
        uses: sphinx-notes/pages@v3
        with:
          documentation_path: docs/source
          pyproject_extras: dev
          python_version: '3.13'
          sphinx_build_options: -W
          publish: ${{ github.ref_name == 'main' }}
          checkout: false
